
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">


                <form class="form-horizontal" name="newNodeForm">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="row has-error" ng-if="newNodeForm.nodeTitle.$error.required">
                                         <label for="title" class="col-sm-4 control-label"></label>
                                         <label class="col-sm-8 error control-label" ><i class="fa fa-times-circle-o"></i> 	Title is required to create new User Story.</label>

                                    </div>

                                    <div class="row has-error" ng-if="newNodeForm.nodeTitle.$error.maxlength">
                                         <label for="title" class="col-sm-4 control-label"></label>
                                         <label class="col-sm-8 error control-label"><i class="fa fa-times-circle-o"></i> 	Title is too long.</label>

                                    </div>
                                     <div class="row">
                                       <label for="title" class="col-sm-4 control-label">Title</label>

                                    <div class="col-sm-8">
                                         <input type="text" name="title" ng-model="newNodeForm.nodeTitle" class="form-control"  placeholder="title" required ng-maxlength="50">

                                    </div>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-3"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">ID</label>

                                    <div class="col-sm-8">
                                        <label  class="control-label"> <em>ID will be automatically assigned</em></label>

                                    </div>
                                </div>
                        <div class="form-group">
                                    <label  class="col-sm-2 control-label">State</label>

                                    <div class="col-sm-8">

                                        <select class="form-control select2 select2-hidden-accessible"
                                                style="width: 100%;" ng-model="newNodeForm.selectedState" ng-options="state for state in stateList" tabindex="-1" aria-hidden="true">

                                        </select>
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label  class="col-sm-2 control-label">Points</label>

                                    <div class="col-sm-8">
                                        <select class="form-control select2 select2-hidden-accessible"
                                                style="width: 100%;" ng-model="newNodeForm.selectedPoint" ng-options="point for point in pointList" tabindex="-1" aria-hidden="true">

                                        </select>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-6">
                                         <div class="form-group">
                                    <label  class="col-sm-2 control-label">Owner</label>

                                    <div class="col-sm-8">
                                        <select ng-model="newNodeForm.selectedOwner" class="form-control select2 select2-hidden-accessible"
                                                ng-options="owner for owner in ownerList" style="width: 100%;" tabindex="-1" aria-hidden="true">

                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">Release</label>

                                    <div class="col-sm-8">
                                       <select class="form-control select2 select2-hidden-accessible"
                                                style="width: 100%;" ng-model="newNodeForm.selectedRelease" ng-options="release for release in releaseList|filter:'!all'" tabindex="-1" aria-hidden="true" >
                                        </select>
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label  class="col-sm-2 control-label">Iteration</label>

                                    <div class="col-sm-8">
                                        <select class="form-control select2 select2-hidden-accessible"
                                                style="width: 100%;" ng-model="newNodeForm.selectedIteration" ng-options="iteration for iteration in iterationList|filter:'!all'" tabindex="-1" aria-hidden="true">

                                        </select>
                                    </div>
                                </div>



                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-8">

                                 <div class="form-group">
                                    <label for="state" class="col-sm-4 control-label">Architectural Topic ID:</label>

                                    <div class="col-sm-8">
                                        <input type="text" ng-model="newNodeForm.architecturalTopicId" class="form-control"  placeholder="architectural topic ID">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-10">


                                <div class="form-group">
                                    <label >Description:</label>



                                    <textarea ng-model="newNodeForm.description" class="form-control" rows="3" placeholder="description"></textarea>



                                </div>


                            </div>
                            <div class="col-md-1">

                            </div>
                        </div>




                    </div>

                </form>


            </div>
            <div class="modal-footer">

                <button type="submit" class="btn btn-primary" ng-click="submit('new');" ng-disabled="newNodeForm.$invalid">
                    Save and New
                </button>
                <button type="submit" class="btn btn-primary" ng-click="submit();$hide()"
                        ng-disabled="newNodeForm.$invalid">Save and Close
                </button>
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>