<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">


                <div class="row">
                    <label class="col-sm-4">Title</label>
                    <label class="col-sm-8">{{infoNode.nodeTitle}}</label>
                </div>


                <div class="row">
                    <label class="col-sm-4">State</label>
                    <label class="col-sm-8">{{infoNode.selectedState}}</label>
                </div>

                <div class="row">
                    <label class="col-sm-4">Points</label>
                    <label class="col-sm-8">{{infoNode.selectedPoint}}</label>
                </div>


                <div class="row">
                    <label class="col-sm-4">Owner</label>
                    <label class="col-sm-8">{{infoNode.selectedOwner}}</label>
                </div>

                <div class="row">
                    <label class="col-sm-4">Release</label>
                    <label class="col-sm-8">{{infoNode.selectedRelease}}</label>
                </div>

                <div class="row">
                    <label class="col-sm-4">Iteration</label>
                    <label class="col-sm-8">{{infoNode.selectedIteration}}</label>
                </div>


                <div class="row">
                    <label class="col-sm-4">Architectural Topic Id</label>
                    <label class="col-sm-8">{{infoNode.architecturalTopicId}}</label>
                </div>

                <div class="row">
                    <label class="col-sm-4">Description</label>
                    <label class="col-sm-8">{{infoNode.description}}</label>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>