<div class="test-strategy-search" ng-controller="TestCase as ts">
    <div class="panel-group" bs-collapse data-animation="am-collapse" ng-model="search.activePanel">
        <!--suggested strategy pools-->
        <div class="panel panel-default">
            <div class="panel-heading clearfix panel-heading-height" role="tab" bs-collapse-toggle>
                <h3 class="pull-left panel-title">Suggested test cases</h3>
                <!--<span class="pull-right badge">1 {{search.suggested.length}}</span>-->
                <!--<wave-spinner ng-show="search.loading.suggested"></wave-spinner>-->
            </div>
            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                    <!--  in case we need Arrange by feature//-->
<!--                    <div class="clearfix">
                        <div class="navbar-form navbar-left">
                            <label class="control-label input-sm">Arrange By: </label>

                            <div class="form-group">
                                <div>
                                    <select class="form-control input-sm" ng-model="ts.config.activeGroup"
                                            ng-options="item.text for item in ts.config.groupBy">
                                    </select>
                                </div>
                            </div>
                            <label for="Search" class=" control-label input-sm">Filter:</label>

                            <div class="form-group">
                                <input type="text" ng-model="ts.filter.text" class="form-control input-sm"
                                       placeholder="Filter">
                            </div>
                        </div>
                    </div>-->
                    <spark-jstree ng-model="ts.tree"></spark-jstree>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix panel-heading-height" role="tab" bs-collapse-toggle>
                <h3 class="pull-left panel-title">Browse test cases</h3>
                <!--                <span class="pull-right badge">1 {{search.suggested.length}}</span>
                                <wave-spinner ng-show="search.loading.suggested"></wave-spinner>-->
            </div>
            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                    <!--  in case we need Arrange by feature//-->
<!--                    <div class="clearfix">
                        <div class="navbar-form navbar-left">
                            <label class="control-label input-sm">Arrange By:</label>

                            <div class="form-group">
                                <div>
                                    <select class="form-control input-sm" ng-model="ts.config.activeGroup"
                                            ng-options="item.text for item in ts.config.groupBy">
                                    </select>
                                </div>
                            </div>
                            <label for="Search" class=" control-label input-sm">Filter:</label>

                            <div class="form-group">
                                <input type="text" ng-model="ts.filter.text" class="form-control input-sm"
                                       placeholder="Filter">
                            </div>
                        </div>
                    </div>-->
                    <spark-jstree ng-model="ts.tree"></spark-jstree>
                </div>
            </div>
        </div>

        <div class="panel panel-default">

            <div class="panel-heading clearfix panel-heading-height" role="tab" ng-click="searchTree=null" bs-collapse-toggle>
                <h3 class="pull-left panel-title">Search</h3>
                <!--                <wave-spinner ng-show="search.loading.suggested"></wave-spinner>-->
            </div>
            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control input-sm ng-pristine ng-valid ng-touched" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="searchTree=tree;">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                    External Documents (Ers)

                    <spark-jstree ng-model="searchTree"></spark-jstree>
                </div>
            </div>
        </div>

    </div>
</div>
