<div class="form form-inline">
    <div class="input-group">
        <input type="text" class="form-control input-sm" ng-model="testcase.searchTerm" placeholder="Search" ng-keypress="testcase.search($event)"></input>
        <span class="input-group-btn">
            <button type="button" class="btn btn-sm" ng-click="testcase.search()"><i class="glyphicon glyphicon-search"></i></button> 
        </span>
    </div>
</div>
<wave-spinner ng-show="testcase.loading"></wave-spinner>
<div class="md-frame scroll">
    <div ng-repeat="(name, db) in testcase.results">
        <h5>{{name}}</h5>
        <table ng-show="db.length > 0" class="table small table-striped table-hover table-condensed">
            <tr>
                <th>Add</th>
                <th ng-if="key !== 'ID' && key !== 'id' && key !== 'added'" ng-repeat="(key, val) in db[0]">
                    {{key}}
                </th>
            </tr>
            <tr ng-class="{'success': item.added}" ng-repeat="item in db">
                <td>
                    <a class="link" ng-click="add(name, item)"><i class="glyphicon glyphicon-plus"></i></a>
                 </td>
                <td ng-if="key !== 'ID' && key !== 'id' && key !== 'added'" ng-repeat="(key, val) in item">
                    {{val}}
                 </td>
             </tr>
        </table>
    </div>
</div>
