
    <!-- Logo -->
    <a href="" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">Spark ></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">Spark > Planner</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <!--<a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
        <!--</a>-->
        <div class="navbar-left navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">Requirements</span>
                    </a>
                    <ul class="dropdown-menu left-dropdown-menu ">
                        <!-- User image -->
                        <li>
                            <a href="" >Architectural Documents</a>
                        </li>

                        <!-- Menu Footer-->
                        <li>
                            <a href="" >Stress Matrix</a>
                        </li>
                        <li>
                            <a href="" >Serviceability Matrix</a>
                        </li>

                        <!-- Menu Footer-->
                        <li>
                            <a href="" >IO Profiles</a>
                        </li>




                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">Scope</span>
                    </a>
                    <ul class="dropdown-menu left-dropdown-menu ">
                        <!-- User image -->

                        <li>
                            <a href="" >Scope Tracker</a>
                        </li>

                        <!-- Menu Footer-->
                        <li>
                            <a href="" >Requirement Scope</a>
                        </li>
                        <li>
                            <a href="" >Boxcar Scope</a>
                        </li>

                        <!-- Menu Footer-->
                        <li>
                            <a href="" > Test Strategies</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">Plan</span>
                    </a>
                    <ul class="dropdown-menu left-dropdown-menu ">
                        <!-- User image -->
                        <li>
                            <a href="" >Test Planner</a>
                        </li>

                        <!-- Menu Footer-->
                        <li>
                            <a href="" >Test Cases</a>
                        </li>
                        <li>
                            <a href="" >NPD Orders</a>
                        </li>




                    </ul>
                </li>

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">Quality</span>
                    </a>
                    <ul class="dropdown-menu left-dropdown-menu ">
                        <!-- User image -->
                        <li>
                            <a href="" >Metrics</a>
                        </li>

                        <!-- Menu Footer-->
                        <li>
                            <a href="" >RCCA</a>
                        </li>

                        <li>
                            <a href="" > Defects</a>
                        </li>




                    </ul>
                </li>

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">Artifacts</span>
                    </a>
                    <ul class="dropdown-menu left-dropdown-menu ">
                        <!-- User image -->
                        <li>
                            <a href="" > Test Plans</a>
                        </li>

                        <!-- Menu Footer-->
                        <li>
                            <a href="" >Test Execution Reports</a>
                        </li>
                        <li>
                            <a href="" >Stability Matrix</a>
                        </li>

                        <!-- Menu Footer-->
                        <li>
                            <a href="" > Requirement Test Coverage (xREF)</a>
                        </li>
                        <li>
                            <a href="" >  Data Lab</a>
                        </li>





                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->

            </ul>
        </div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li>
                    <a href=""><i class="fa fa-search"></i></a>
                </li>
                <li class="dropdown user user-menu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="" class="dummy-img user-image" alt="User Image">
                        <span class="hidden-xs">Guest User</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="" class="dummy-img img-circle" alt="User Image">
                            <p>
                                Guest User - NetApp
                                <small>Member since Nov. 2005</small>
                            </p>
                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href=""  data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
                <!-- User Account: style can be found in dropdown.less -->

            </ul>
        </div>
    </nav>

