/**
 * Styles for test strategy editor
 *
 * @author Leon Xu, Randall Crock
 * @copyright 2015 NetApp, Inc.
 * @date 2015-09-08
 *
 */

spark-strategy-editor .form-group .col-md-2:nth-child(2n-1),
spark-strategy-viewer .form-group .col-md-2:nth-child(2n-1) {
    padding-right: 0;
    font-size: 12px;
    white-space: nowrap;
}

spark-strategy-editor .wysiwyg-menu,
spark-strategy-viewer .wysiwyg-menu {
    margin-bottom: 0.5em;
    line-height: 2.5em;
}

spark-strategy-editor .wysiwyg-textarea,
spark-strategy-viewer .wysiwyg-textarea {
    min-height: 10em;
    height: initial!important;
    position: absolute;
    top: 0.5em;
    bottom: 2em;
}

spark-strategy-editor .nav-tabs > li > a,
spark-strategy-viewer .nav-tabs > li > a {
    font-size: 12px;
}

spark-strategy-editor > .panel > .panel-body,
spark-strategy-viewer > .panel > .panel-body {
    position: relative;
    min-height: 700px;
}

spark-strategy-editor > .panel > .panel-body > form,
spark-strategy-viewer > .panel > .panel-body > form {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;    
}

spark-strategy-editor div.fullscreen,
spark-strategy-viewer div.fullscreen {
    position: relative;
}

spark-strategy-editor div.fullscreen > button.fullscreen,
spark-strategy-viewer div.fullscreen > button.fullscreen {
    position: absolute;
    right: 0;
    bottom: -0.5em;
}

spark-strategy-editor .panel-body .tab-pane,
spark-strategy-viewer .panel-body .tab-pane {
    min-height: 300px;
}

spark-strategy-editor div.fullscreen.fullscreen-active,
spark-strategy-viewer div.fullscreen.fullscreen-active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
}

spark-strategy-editor div.fullscreen.fullscreen-active .wysiwyg-textarea,
spark-strategy-viewer div.fullscreen.fullscreen-active .wysiwyg-textarea {
    width: 100%;
}

spark-strategy-editor .tags > a.btn,
spark-strategy-viewer .tags > a.btn {
    margin-right: 3px;
    cursor: default;
}

spark-strategy-editor .tags > .btn i,
spark-strategy-viewer .tags > .btn i {
    cursor: pointer;
    color: #337ab7;
}

spark-strategy-editor .tags > a.btn i:hover,
spark-strategy-viewer .tags > a.btn i:hover {
    color: #23527c;
}

spark-strategy-editor div.fullscreen .save-note,
spark-strategy-viewer div.fullscreen .save-note {
    position: absolute;
    bottom: 0;
}

/**
 * The cards
 *
 * Each card plays home to a front and back. I've set them up as squares here
 * by using the padding technique, but you may set them up in any dimensions
 * you like based on your site design.
 */
.card {
    position: relative;
}

/* card fronts and backs */
.card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-front,
.card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.card-front {
    background-color: #ff5078;
}

.card-back {
    background-color: #1e1e1e;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

/* click effect */
.card.effect-click.flipped .card-front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect-click.flipped .card-back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.scroll.requirements
.scroll.testcases,
.scroll.associations {
    max-height: 400px;
}
