/**
 * Additional styling for the test planning page
 *
 * @author Randall Crock
 * @copyright 2014 NetApp, Inc.
 * @date 2014-07-07
 */
body {
    /* background: #e1ecf2; */
    height: 100%;
    overflow:hidden;
}

#main-view {
    width: 1500px;
    margin: 0 auto;
    position:absolute;
    padding-top: 1em;
    top: 50px;
    bottom: 10px;
    left: 0;
    right: 0;
}

.navbar-header .logo {
    height: 30px;
}

#release-nav {
    display: inline-block;
    position: relative;
    margin-left: 0.5em;
    z-index: 5;
}

#release-nav > i {
    text-indent: 0;
    margin: 0.6em 0.4em;
}

#release-nav > * {
    margin-bottom: 0.5em;
}

#other-nav {
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 2px;
    max-width: 200px;
    z-index: 5;
    font-size: 24px;
}

#other-nav > ul {
    margin: 5px 0 0;
    padding: 0;
    float: right;
}

#other-nav > ul li {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
}

#other-nav > input {
    margin-right: 0.5em;
    float: right;
}

#pane-selection {
    display: inline-block;
}

#pane-selection span.btn,
#pane-selection span.btn:hover,
#pane-selection span.btn:active {
    cursor: default;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #ccc;
    background: #eee;
}

#pane-selection input[type="checkbox"] {
    display:none;
}

.pane-view {
    position: inherit;
    top: 4em;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.height-wrapper {
    position: inherit;
    top: 2.5em;
    bottom: 0;
    width: 100%;
}

.pane-container {
    display: table;
    height: 100%;
    width: 100%;
    border-spacing: 0.5em;
}

.pane {
    display:table-cell;
    position: relative;
    height: 100%;
    min-width: 150px;
}

h3.panel-title  {
    display: inline-block;
    font-size: 16px;
    font-weight:bold;
    white-space: nowrap;
    margin-top: 0.1em;
}

.panel  {
    margin-bottom: 0;
}

.move-icon {
    cursor: move;
}

.no-focus:focus {
    outline: none;
}

.panel-heading small {
    font-size: 10px;
}

.panel-heading .breadcrumb {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.panel-narrow {
    display: inline-block;
    margin: 0 0.5em;
}

.panel-narrow .panel-heading {
    padding: 0.5em 0.75em;
}

.panel-narrow .panel-body {
    padding: 0;
}

.panel-narrow .panel-body .btn-group {
    width: 100%;
}

.panel-narrow .panel-body .btn-group>.btn:first-child {
    border-top-left-radius: 0;
    border-left: none;
}

.panel-narrow .panel-body .btn-group>.btn:last-child {
    border-top-right-radius: 0;
    border-right: none;
}

.panel-narrow .panel-body .btn-group>.btn:first-child:last-child {
    width: 100%;
}

.panel-narrow .panel-body .btn-group>.btn {
    border-top: none;
    border-bottom: none;
}

.panel-body:before,
.panel-body:after {
    content: none !important;
}

.panel-body .navbar-form {
    margin-top: 0 !important;
}

.pane > .panel-body {
    overflow-y: auto;
    max-height: 98%;
}

.popover h4 {
    font-weight: bold;
}

.modal {
    overflow-y: auto;
}

.ui-resizable-e {
    cursor: ew-resize;
}

.pane:last-child > .ui-resizable-e {
    display: none !important;
}

.rotate-270 {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}

.rotate-180 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.tab-pane {
    padding: 1em 0;
}

.relative {
    position: relative;
}

.loading {
    position: absolute;
    left: 48%;
    top: 48%;
    z-index: 1000;
}

.pane.panel.panel-placeholder {
}

.pane .jstree-node {
    max-width: 100px;
}

li.jstree-node > a .jstree-themeicon {
    background-size: 16px !important;
}

.modal-dialog {
    width: 80vw !important
}

.scroll {
    max-height: 510px;
}

.loading-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    right: 50%;
    bottom: 50%;
}
