<!-- Content Header (Page header) -->
<section class=" row content-header animated fadeInRight">


           <h1 class="col-md-3">
               Planner
               <small>Control panel</small>
           </h1>


    <div class="col-md-2 form-group">

        <select class="form-control">
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
            <option>option 4</option>
            <option>option 5</option>
        </select>
    </div>
    <div class="col-md-2 form-group">

        <select class="form-control">
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
            <option>option 4</option>
            <option>option 5</option>
        </select>
    </div>
    <div class="col-md-2 form-group">

        <select class="form-control">
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
            <option>option 4</option>
            <option>option 5</option>
        </select>
    </div>

    <ul class="col-md-3 menu-items">
              <li>
                  <a href="#" ><i class="fa fa-random"></i></a>
              </li>
              <li>
                  <a href="#" ><i class="fa fa-bar-chart"></i></a>
              </li>
              <li>
                  <a href="#" ><i class="fa fa-list-alt"></i></a>
              </li>
          </ul>





</section>

<!-- Main content -->
<section class="content" >

    <ui-view name="plugin_wrapper"></ui-view>


</section><!-- /.content -->