<!-- Content Header (Page header) -->
<section class=" row content-header animated fadeInRight">


           <h1 class="col-md-9">
               Requirement Scoping
           </h1>



    <ul class="col-md-3 menu-items">
              <li>
                  <a href="#" ><i class="fa fa-random"></i></a>
              </li>
              <li>
                  <a href="#" ><i class="fa fa-bar-chart"></i></a>
              </li>
              <li>
                  <a href="#" ><i class="fa fa-list-alt"></i></a>
              </li>
          </ul>





</section>

<!-- Main content -->
<section class="content" >

    <ui-view></ui-view>


</section><!-- /.content -->