<div class="popover" tabindex="-1">
  <div class="arrow"></div>
 	<div class="popover-content"  ng-controller="rallyPopoverCtrl as rallyPopoverCtrl">


		<div class="box-tools">
                <button type="button" title="add" class="btn" ng-click="addButton()"><i class="fa fa-plus"></i>
                </button>
				<button type="button" title="info" class="btn" ng-click="infoButton()"><i class="fa fa-info fa-fw"></i>
                </button>
				<button type="button" title="edit" class="btn " ng-click="editButton()"><i class="fa fa-pencil fa-fw"></i>
                </button>
				<button type="button" title="delete" class="btn " ng-click="deleteButton()"><i class="fa fa-trash-o fa-fw"></i>
                </button>
        </div>

	</div>
</div>

