<div class="scope-box">
    <div class="box-body">
        <div class="row">

            <div class="col-md-12">


                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li ng-class="{active:tab.active}" ng-repeat="tab in scopeCtrl.tabs"><a ng-href="{{tab.url}}"
                                >{{tab.name}}</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <ng-include ng-if="scopeCtrl.tabs_content.content"
                                    src="'angular/scope/scope.tabs.content.tpl.html'"></ng-include>
                        <ng-include ng-if="scopeCtrl.tabs_content.sub_tabs"
                                    src="'angular/scope/scope.subtabs.tpl.html'"></ng-include>
                    </div>
                    <!-- /.tab-content -->
                </div>

            </div>
        </div>
    </div>
</div>