<label class="control-label">Timeline</label>
<div class="form-inline form-group">
    <div class="form-group">
        <label class="control-label" for="start">Project Start</label>
        <input type="text" class="form-control" ng-model="modal.data.project_start_date" name="start" placeholder="Start" bs-datepicker>
    </div>
    <div class="form-group">
        <label class="control-label" for="end">Project End</label>
        <input type="text" class="form-control" ng-model="modal.data.project_completion_date" name="end" placeholder="Start" bs-datepicker>
    </div>
</div>
<div class="form-group">
    <label class="control-label" for="wiki">Wiki Link</label>
    <input type="text" class="form-control" ng-model="modal.data.wiki_url" name="wiki" placeholder="Wiki link">
</div>
