<div class="popover panel panel-default" ng-controller="SettingsPopover as popover">
    <div class="arrow"></div>
    <div class="panel-heading">
        <h3 class="panel-title">Project Settings</h3>
        <small ng-show="popover.data.release_id">
            <ol class="breadcrumb">
                <li>{{popover.data.release_id}}</li>
                <li ng-show="popover.data.testplan_stack_id">{{popover.data.stack_name}}</li>
                <li ng-show="popover.data.testplan_substack_id">{{popover.data.substack_name}}</li>
            </ol>
        </small>
    </div>
    <div class="popover-content panel-body">
        <div class="timeline" ng-show="popover.data.project_start_date || popover.data.project_completion_date">
            <h4>Timeline</h4>
            <span ng-show="popover.data.project_start_date">
                {{popover.data.project_start_date|date:'M/d/yy'}} <i class="glyphicon glyphicon-arrow-right"></i>
            </span>
            <span ng-show="popover.data.project_completion_date">
                {{popover.data.project_completion_date|date:'M/d/yy'}}
            </span>
        </div>
        <div class="alm" ng-show="popover.data.alm_db_name || popover.data.alm_folder_node_id || popover.data.alm_testset_prefix">
            <h4>ALM Database</h4>
            {{popover.data.alm_db_description||'Not Set'}}
            <h4>ALM Folder</h4>
            {{popover.data.alm_folder_name||'Not Set'}}
            <h4>ALM test set prefix</h4>
            {{popover.data.alm_testset_prefix||'Not Set'}}
        </div>
        <div class="rally" ng-show="popover.data.rally_project_id">
            <h4>Rally Project</h4>
            {{popover.data.rally_project_id}} <span ng-show="popover.data.rally_release_id">(Release {{popover.data.rally_release_id}})</span>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-left">
            <a href="" ng-click="popover.edit()"><i class="glyphicon glyphicon-edit"></i> Edit</a>
        </div>
        <div class="pull-right">
            <a href="" ng-click="$hide()">Close <i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </div>
</div>
