<!-- Content Header (Page header) -->
<section class=" row content-header animated fadeInRight">


           <h1 class="col-md-3">
               Test Planner
           </h1>


    <div class="col-md-2 form-group">

        <select class="form-control input-sm"
                ng-model="testPlannerController.release_id"
                ng-options="item.name as item.name for item in testPlannerController.releases"
                ng-change="testPlannerController.getStackLayers()">
        </select>

    </div>

    <div class="col-md-2 form-group" ng-show="testPlannerController.release_id">
        <select class="form-control input-sm"
                ng-model="testPlannerController.stack_id"
                ng-change="testPlannerController.getSubLayers()"
                ng-options="key as val for (key, val) in testPlannerController.stack_layers">
        </select>
    </div>
    <div class="col-md-2 form-group">

        <select class="form-control input-sm" ng-show="testPlannerController.stack_id"
                ng-model="testPlannerController.substack_id"
                ng-change="testPlannerController.reloadCurrentState()"
                ng-options="key as val for (key, val) in testPlannerController.sub_layers"></select>
    </div>

    <ul class="col-md-3 menu-items">
              <li>
                  <a href="#" ><i class="fa fa-random"></i></a>
              </li>
              <li>
                  <a href="#" ><i class="fa fa-bar-chart"></i></a>
              </li>
              <li>
                  <a href="#" ><i class="fa fa-list-alt"></i></a>
              </li>
          </ul>





</section>

<!-- Main content -->
<section class="content" >

    <ui-view name="plugin_wrapper"></ui-view>


</section><!-- /.content -->