<!-- Content Header (Page header) -->
<section class=" row content-header animated fadeInRight">


           <h1 class="col-md-9">
             Test Strategy Manager
           </h1>







</section>

<!-- Main content -->
<section class="content" >

    <div class="row">
        <div ng:class="{true:'col-sm-12', false:'col-sm-6'}
             [!TSMCtrl.viewer_is_active&&!TSMCtrl.editor_is_active]" ui-view="plugin">

        </div>
        <div ng-if="TSMCtrl.viewer_is_active"
             ng:class="{true:'col-sm-3', false:'col-sm-6'}
             [TSMCtrl.viewer_is_active&&TSMCtrl.editor_is_active]" class="pad-l-0" ui-view="strategy_viewer">

        </div>
        <div ng-if="TSMCtrl.editor_is_active" ng:class="{true:'col-sm-3', false:'col-sm-6'}
             [TSMCtrl.viewer_is_active&&TSMCtrl.editor_is_active]"  class="pad-l-0" ui-view="strategy_editor">
        </div>
    </div>


</section><!-- /.content -->