<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="row">
            <!-- Hiding revision/variation until we work out how they are supposed to get populated
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-6">
                        <select class="form-control input-sm"
                            disabled
                            ng-options="item as item.id for item in editor.service.current.revisions"
                            ng-model="editor.service.current.revision"
                            ui-event="{change: 'editor.loadRev()'}">
                                <option>Revision</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control input-sm"
                            ng-disabled="!editor.service.current.variations"
                            ng-options="item as item.name for item in editor.service.current.variations"
                            ng-model="editor.service.current.variation"
                            ui-event="{change: 'editor.loadVar()'}">
                            <option>Variation</option>
                        </select>
                    </div>
                </div>
            </div>
            -->
            <div class="pull-left col-xs-5">
                <button type="button" class="btn btn-sm btn-primary" ng-click="editor.clear()">New <i class="glyphicon glyphicon-file"></i></button>
                <button ng-show="editor.planTree.data && editor.service.current.StrategyID && editor.service.current.State != 'Obsolete'"
                        class="btn btn-sm btn-primary"
                        ng-click="editor.addToPlan(editor.service.current)">
                    Add to plan
                </button>
            </div>
            <wave-spinner ng-show="editor.service.loading"></wave-spinner>
            <div class="pull-right col-xs-5 text-right" ng-show="editor.service.current">
                <button type="button"
                        ng-show="editor.service.current.State != 'Obsolete' && editor.service.current.State != 'Approved'"
                        class="btn btn-sm btn-primary"
                        ng-click="editor.save()">
                    Save <i class="glyphicon glyphicon-floppy-disk"></i>
                </button>
                <button type="button" ng-show="editor.service.current.StrategyID"
                        class="btn btn-sm btn-primary"
                        data-html="true"
                        data-placement="bottom-right"
                        bs-dropdown
                        aria-haspopup="true"
                        aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="editor.createRevision()"><i class="glyphicon glyphicon-retweet"></i>&nbsp;Create new revision</a></li>
                    <li><a ng-click="editor.createVariation()"><i class="glyphicon glyphicon-duplicate"></i>&nbsp;Create new variation</a></li>
                    <li><a ng-click="editor.approve()"><i class="glyphicon glyphicon-ok"></i>&nbsp;Mark as Approved</a></li>
                    <li><a ng-click="editor.promote()"><i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;Promote to Core</a></li>
                    <li><a ng-click="editor.demote()"><i class="glyphicon glyphicon-thumbs-down"></i>&nbsp;Demote from Core</a></li>
                    <li><a ng-click="editor.obsolete()"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Mark as obsolete</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form name="strategy">
            <div class="form-horizontal">
                <div class="form-group" ng-class="{'has-error': strategy.headline.$dirty && strategy.headline.$invalid}">
                    <div class="col-md-2">
                        <label class="control-label required-label">Headline</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text"
                               name="headline"
                               class="form-control input-sm flash"
                               ng-model="editor.service.current.StrategyHeadline"
                               ui-event="{blur: 'editor.save(true, $event)', keypress: 'editor.save(true, $event)'}"
                               ng-disabled="editor.service.current.State == 'Obsolete' || editor.service.current.State == 'Approved'"
                               required/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label required-label">Impact Area</label>
                    </div>

                    <div class="col-md-10">
                        <span style="z-index:10px" class="col-md-{{attributeContentWidth}}">
                            <spark-tree-select current="editor.service.current" selectReadOnly="{{TreeSelectReadOnly}}" tagType = "impact"></spark-tree-select>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label required-label">Qual. Area</label>
                    </div>
                                        <div class="col-md-4">
                        <select class="form-control input-sm flash"
                                ng-model="editor.service.current.tags_qual_area"
                                required
                                ng-disabled="editor.service.current.State == 'Obsolete' || editor.service.current.State == 'Approved'">
                        </select>
                    </div>
<!--                    <div class="col-md-4">
                        <div ng-model="editor.service.current.tags_qual_area" name="qual" spark-array-validator>
                            <button type="button"
                                    ng-click="editor.changeQual()"
                                    ng-repeat="item in editor.service.current.tags_qual_area"
                                    class="btn btn-sm btn-default"
                                    ng-disabled="editor.service.current.State == 'Obsolete' || editor.service.current.State == 'Approved'">
                                {{item.CategoryName}} <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                            <button type="button"
                                    ng-click="editor.changeQual()"
                                    ng-show="!editor.service.current.tags_qual_area || editor.service.current.tags_qual_area.length < 1"
                                    class="btn btn-sm btn-default"
                                    ng-disabled="editor.service.current.State == 'Obsolete' || editor.service.current.State == 'Approved'">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </div>
                    </div>-->

                    <div class="col-md-2">
                        <label class="control-label required-label">Approach</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control input-sm flash"
                                ng-model="editor.service.current.approach"
                                ng-options="item.CategoryID as item.CategoryName for item in editor.service.approach"
                                ui-event="{change: 'editor.save(true, $event)'}"
                                required
                                ng-disabled="editor.service.current.State == 'Obsolete' || editor.service.current.State == 'Approved'">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">Strategy Goal</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control input-sm flash"
                               ng-model="editor.service.current.Goal"
                               ng-disabled="editor.service.current.State == 'Obsolete' || editor.service.current.State == 'Approved'"/>
                    </div>
                </div>
            </div>

            <div bs-tabs class="tab-container">
                <div class="fullscreen tab-pane fade active in"  title="Description" name="description" bs-pane>
                    <wysiwyg id="wysiwyg-test-strategy-editor"
                             textarea-id="test-strategy-description"
                             textarea-class="form-control flash"
                             textarea-name="content"
                             ng-model="editor.service.current.TestStrategy"
                             enable-bootstrap-title="false"
                             textarea-menu="editor.wysiwyg.menu"
                             disabled="editor.service.current.State == 'Obsolete' || editor.service.current.State == 'Approved'"
                             ui-event="{blur:'editor.save(true, $event)', keypress: 'editor.save(true, $event, true)'}" >
                    </wysiwyg>
                    <button title="Shrink" ng-show="editor.expanded" type="button" class="btn btn-sm btn-default fullscreen shrink" ng-click="editor.shrink()">
                        <i class="glyphicon glyphicon-resize-small"></i>
                    </button>
                    <button title="Expand" ng-hide="editor.expanded" type="button" class="btn btn-sm btn-default fullscreen expand" ng-click="editor.expand()">
                        <i class="glyphicon glyphicon-resize-full"></i>
                    </button>
                    <span class="small save-note">Press <code>Ctrl + Enter</code> to save</span>
                </div>
                <div class="tab-pane fade" title="Requirements" name="requirements" bs-pane>
                    <div>
                        <button type="button" class="btn btn-primary" ng-click="editor.addReqs()"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                    <div class="scroll clearfix requirements">
                        <div ng-repeat="(typeName, reqType) in editor.service.current.strategyRequirements" ng-show="reqType.length > 0">
                            <h5>{{typeName}}</h5>
                            <table
                                class="table table-striped table-hover small">
                                <tr>
                                    <th></th>
                                    <th ng-if="key !== 'ID' && key !== 'id' && key !== 'added' && key !== 'pivot'" ng-repeat="(key, val) in reqType[0]">
                                        {{key}}
                                    </th>
                                </tr>
                                <tr ng-repeat="item in reqType">
                                    <td><a class="link" ng-click="editor.deleteArrItem(reqType, item)"><i class="glyphicon glyphicon-remove"></i></a>
                                    <td ng-if="key !== 'ID' && key !== 'id' && key !== 'added' && key !== 'pivot'" ng-repeat="(key, val) in item">
                                        {{val}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" title="Test Cases" name="test-cases" bs-pane>
                    <div>
                        <button type="button" class="btn btn-primary" ng-click="editor.addTestcases()"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                    <div class="scroll clearfix testcases">
                        <div ng-repeat="(dbName, testCases) in editor.service.current.suggestedTestCases" ng-show="testCases.length > 0">
                            <h5>{{dbName}}</h5>
                            <table class="table table-striped table-hover small">
                                <tr>
                                    <th></th>
                                    <th ng-if="key !== 'added' && key !== 'pivot'" ng-repeat="(key, val) in testCases[0]">
                                        {{key}}
                                    </th>
                                </tr>
                                <tr ng-repeat="item in testCases">
                                    <td><a class="link" ng-click="editor.deleteArrItem(testCases, item)"><i class="glyphicon glyphicon-remove"></i></a>
                                    <td ng-if="key !== 'added' && key !== 'pivot'" ng-repeat="(key, val) in item">
                                        {{val}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" title="Associations" name="associations" bs-pane>
                    <div>
                        <div class="scroll associations">
                            <table class="table table-striped table-hover small">
                                <tr>
                                    <th>Type</th>
                                    <th>Requirement ID</th>
                                    <th>Headline</th>
                                </tr>
                                <tr ng-repeat="req in editor.service.current.associations">
                                    <td>PR</td>
                                    <td>{{req.prscope.PRID}}</td>
                                    <td>{{req.prscope.cq_pr.Headline}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Not using these yet, hiding
                <div class="tab-pane fade" title="Attachments" name="attachments" bs-pane>
                    <p>attachment {{editor.id}}</p>
                </div>
                <div class="tab-pane fade" title="Other Info" name="other" bs-pane>
                    <p>additional info {{editor.id}}</p>
                </div>
                -->
            </div>
        </form>
    </div>
</div>