
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="" data-toggle="tab">Basic Info</a></li>
        <li><a href="" data-toggle="tab">ALM</a></li>
        <li><a href="" data-toggle="tab">Rally</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home tab content -->
        <!--</div>&lt;!&ndash; /.tab-pane &ndash;&gt;-->
    </div>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->



