<section class="sidebar">
    <ul class="sidebar-menu">
        <!--<li class="header ">Select Panel</li>-->



        <li ng-class="{active:testPlannerController.active_plugins.indexOf('high_level_scope')>-1,
        disabled:testPlannerController.active_plugins.indexOf('high_level_scope')==-1&&
        testPlannerController.active_plugins.length ==3}">
            <a href="" ng-click="leftSideBarController.togglePlugin('high_level_scope')">
                <i class="fa fa-rocket"></i> <span>High Level Scope</span>
                <i class="checkbox pull-right"></i>

            </a>

        </li>
        <li ng-class="{active:testPlannerController.active_plugins.indexOf('boxcar')>-1,
        disabled:testPlannerController.active_plugins.indexOf('boxcar')==-1&&
        testPlannerController.active_plugins.length ==3}">
            <a href="" ng-click="leftSideBarController.togglePlugin('boxcar')">
                <i class="fa fa-square"></i> <span>Boxcar</span>
                <i class="checkbox pull-right"></i>
            </a>
        </li>
        <li ng-class="{active:testPlannerController.active_plugins.indexOf('sow')>-1,
        disabled:testPlannerController.active_plugins.indexOf('sow')==-1&&
        testPlannerController.active_plugins.length ==3}">
            <a href="" ng-click="leftSideBarController.togglePlugin('sow')">
                <i class="fa fa-pie-chart"></i> <span>SOW</span>
                <i class="checkbox pull-right"></i>
            </a>
        </li>
        <li ng-class="{active:testPlannerController.active_plugins.indexOf('reference_documents')>-1,
        disabled:testPlannerController.active_plugins.indexOf('reference_documents')==-1&&
        testPlannerController.active_plugins.length ==3}">
            <a href="" ng-click="leftSideBarController.togglePlugin('reference_documents')">
                <i class="fa fa-book"></i> <span>Reference Documents</span>
                <i class="checkbox pull-right"></i>
            </a>
        </li>
        <li ng-class="{active:testPlannerController.active_plugins.indexOf('rally')>-1,
        disabled:testPlannerController.active_plugins.indexOf('rally')==-1&&
        testPlannerController.active_plugins.length ==3}">
            <a href="" ng-click="leftSideBarController.togglePlugin('rally')" >
                <i class="fa fa-flag"></i> <span>Rally</span>
                <i class="checkbox pull-right"></i>
            </a>
        </li>
        <li ng-class="{active:testPlannerController.active_plugins.indexOf('test_plan')>-1,
        disabled:testPlannerController.active_plugins.indexOf('test_plan')==-1&&
        testPlannerController.active_plugins.length ==3}">
            <a href="" ng-click="leftSideBarController.togglePlugin('test_plan')">
                <i class="fa fa-th-list"></i> <span>Test Plan</span>
                <i class="checkbox pull-right"></i>
            </a>
        </li>
        <li ng-class="{active:testPlannerController.active_plugins.indexOf('configuration_plan')>-1,
        disabled:testPlannerController.active_plugins.indexOf('configuration_plan')==-1&&
        testPlannerController.active_plugins.length ==3}">
            <a href="" ng-click="leftSideBarController.togglePlugin('configuration_plan')">
                <i class="fa fa-wrench"></i> <span>Configuration Plan</span>
                <i class="checkbox pull-right"></i>
            </a>
        </li>
        <li ng-class="{active:testPlannerController.active_plugins.indexOf('test_cases')>-1,
        disabled:testPlannerController.active_plugins.indexOf('test_cases')==-1&&
        testPlannerController.active_plugins.length ==3}">
            <a href="" ng-click="leftSideBarController.togglePlugin('test_cases')">
                <i class="fa fa-coffee"></i> <span>Test Cases</span>
                <i class="checkbox pull-right"></i>
            </a>
        </li>
        <li ng-class="{active:testPlannerController.active_plugins.indexOf('web_lab')>-1,
        disabled:testPlannerController.active_plugins.indexOf('web_lab')==-1&&
        testPlannerController.active_plugins.length ==3}">
            <a href="" ng-click="leftSideBarController.togglePlugin('web_lab')">
                <i class="fa fa-flask"></i> <span>Web Lab</span>
                <i class="checkbox pull-right"></i>
            </a>
        </li>
        <li ng-class="{active:testPlannerController.active_plugins.indexOf('test_case_instances')>-1,
         disabled:testPlannerController.active_plugins.indexOf('test_case_instances')==-1&&
        testPlannerController.active_plugins.length ==3}">
            <a href="" ng-click="leftSideBarController.togglePlugin('test_case_instances')">
                <i class="fa fa-paperclip"></i> <span>Test Case Instances</span>
                <i class="checkbox pull-right"></i>
            </a>
        </li>
        <li ng-class="{active:testPlannerController.active_plugins.indexOf('rcca')>-1,
        disabled:testPlannerController.active_plugins.indexOf('rcca')==-1&&
        testPlannerController.active_plugins.length ==3}">
            <a href="" ng-click="leftSideBarController.togglePlugin('rcca')">
                <i class="fa fa-leaf"></i> <span>RCCA</span>
                <i class="checkbox pull-right"></i>
            </a>
        </li>
        <li ng-class="{active:testPlannerController.active_plugins.indexOf('implementation_request')>-1,
        disabled:testPlannerController.active_plugins.indexOf('implementation_request')==-1&&
        testPlannerController.active_plugins.length ==3}">
            <a href="" ng-click="leftSideBarController.togglePlugin('implementation_request')">
                <i class="fa fa-envelope"></i> <span>Implementation Request</span>
                <i class="checkbox pull-right"></i>
            </a>
        </li>


    </ul>
</section>
<!-- /.sidebar -->

