<section class="sidebar">
    <ul class="sidebar-menu">
        <!--<li class="header ">Select Panel</li>-->



        <li>
            <a href="" ng-click="leftSideBarController.togglePlugin('high_level_scope')">
                <i class="fa fa-rocket"></i> <span>High Level Scope</span>


            </a>

        </li>
        <li>
            <a href="" ng-click="leftSideBarController.togglePlugin('boxcar')">
                <i class="fa fa-square"></i> <span>Boxcar</span>

            </a>
        </li>


    </ul>
</section>
<!-- /.sidebar -->

