<div class="form form-inline">
    <div class="form-group">
        <label for="type">Requirement Type</label>
        <select class="form-control input-sm" ng-options="item.val as item.name for item in reqs.types" ng-model="reqs.reqType"></select>
    </div>
    <div class="input-group">
        <input type="text" class="form-control input-sm" ng-model="reqs.searchTerm" placeholder="Search" ng-keypress="reqs.search($event)"></input>
        <span class="input-group-btn">
            <button type="button" class="btn btn-sm" ng-click="reqs.search()"><i class="glyphicon glyphicon-search"></i></button> 
        </span>
    </div>
</div>
<wave-spinner ng-show="reqs.loading"></wave-spinner>
<div class="md-frame scroll">
    <table ng-show="reqs.result.length > 0" class="table small table-striped table-hover table-condensed">
        <tr>
            <th>Add</th>
            <th ng-if="key !== 'ID' && key !== 'id' && key !== 'added'" ng-repeat="(key, val) in reqs.result[0]">
                {{key}}
            </th>
        </tr>
        <tr ng-class="{'success': item.added}" ng-repeat="item in reqs.result">
            <td>
                <a class="link" ng-click="add(reqs.reqType, item)"><i class="glyphicon glyphicon-plus"></i></a>
             </td>
            <td ng-if="key !== 'ID' && key !== 'id' && key !== 'added'" ng-repeat="(key, val) in item">
                {{val}}
             </td>
         </tr>
    </table>
    <div class="text-center" ng-show="reqs.result.length === 0">No Results</div>
</div>
