<div class="modal">
    <div class="modal-dialog modal-xnarrow">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Log in to Spark</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" ng-model="login.username" ng-keypress="login.login($event)">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" ng-model="login.password" ng-keypress="login.login($event)">
                </div>
                <div ng-show="login.error" class="text-danger">
                    {{login.error}}
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="login.login()">Log In</button>
            </div>
        </div>
    </div>
</div>