<div class="test-strategy-search">
    <div class="panel-group" bs-collapse data-animation="am-collapse" ng-model="search.activePanel">
        <!--suggested strategy pools-->
        <div class="panel panel-default">
            <div class="panel-heading clearfix" role="tab" bs-collapse-toggle>
                <h3 class="pull-left panel-title">Suggested Strategies</h3>
                <span class="pull-right badge">{{search.suggested.length}}</span>
                <wave-spinner ng-show="search.loading.suggested"></wave-spinner>
            </div>
            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                    Suggested strategy pool
                </div>
            </div>
        </div>

        <!--core strategy-->
        <div class="panel panel-default">
            <div class="panel-heading clearfix" role="tab" bs-collapse-toggle>
                <h3 class="pull-left panel-title">Core Strategies</h3>
                <span class="pull-right badge">{{search.core.length}}</span>
                <wave-spinner ng-show="search.loading.core"></wave-spinner>
            </div>
            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                    <div class="scroll" ng-show="!search.loading.core && search.core">
<!--                        <div class="clearfix">
                            <div class="navbar-form navbar-left">
                                <label class="control-label input-sm">Arrange By:</label>
                                <div class="form-group">
                                    <div>
                                        <select class="form-control input-sm" ng-model="testplan.config.activeGroup" ng-options="item.text for item in testplan.config.groupBy">
                                        </select>
                                    </div>
                                </div>
                                <label for="Search" class=" control-label input-sm">Filter:</label>
                                <div class="form-group">
                                    <input type="text" ng-model="testplan.filter.text" class="form-control input-sm" placeholder="Filter">
                                </div>
                                <button class="btn btn-default input-sm" ng-click="testplan.strategies.open()"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </div>-->
                        <wave-spinner ng-show="search.loading.core"></wave-spinner>
                        <spark-jstree ng-model="search.core"></spark-jstree>
                        <!--                        <table class="table table-striped table-hover small">
                                                    <tr>
                                                        <th>Headline</th>
                                                        <th>Tags</th>
                                                        <th>State</th>
                                                        <th>Owner</th>
                                                        <th>Modified</th>
                                                        <th></th>
                                                    </tr>
                                                    <tr ng-repeat="strat in search.core">
                                                        <td>{{strat.StrategyHeadline}}</td>
                                                        <td><span ng-repeat="tag in strat.tags">{{tag.CategoryName}}<span ng-hide="$last">, </span></span></td>
                                                        <td>{{strat.State}}</td>
                                                        <td>{{strat.Owner}}</td>
                                                        <td>{{strat.ModifiedDate|sqlDateTime|date:'shortDate'}}</td>
                                                        <td>
                                                            <a class="link" ng-click="search.view(strat)"><i class="glyphicon glyphicon-eye-open"></i></a><br>
                                                            <a class="link" ng-click="search.edit(strat)"><i class="glyphicon glyphicon-pencil"></i></a>
                                                        </td>
                                                    </tr>
                                                </table>-->
                    </div>
                </div>
            </div>
        </div>

        <!--place holder-->
        <div class="panel panel-default">
            <div class="panel-heading clearfix" role="tab" bs-collapse-toggle>
                <h3 class="pull-left panel-title">Placeholder Strategies</h3>
                <span class="pull-right badge">{{search.placeholder.length}}</span>
                <wave-spinner ng-show="search.loading.placeholder"></wave-spinner>
            </div>
            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                    <div class="scroll" ng-show="!search.loading.placeholder && search.placeholder">
                        <table class="table table-striped table-hover small">
                            <tr>
                                <th>Headline</th>
                                <th>Tags</th>
                                <th>State</th>
                                <th>Owner</th>
                                <th>Modified</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="strat in search.placeholder">
                                <td>{{strat.StrategyHeadline}}</td>
                                <td><span ng-repeat="tag in strat.tags">{{tag.CategoryName}}<span ng-hide="$last">, </span></span></td>
                                <td>{{strat.State}}</td>
                                <td>{{strat.Owner}}</td>
                                <td>{{strat.ModifiedDate|sqlDateTime|date:'shortDate'}}</td>
                                <td>
                                    <a class="link" ng-click="search.view(strat)"><i class="glyphicon glyphicon-eye-open"></i></a><br>
                                    <a class="link" ng-click="search.edit(strat)"><i class="glyphicon glyphicon-pencil"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--search-->
        <div class="panel panel-default">
            <div class="panel-heading clearfix" role="tab" bs-collapse-toggle>
                <h3 class="pull-left panel-title">Strategy Search </h3>
                <span class="pull-right badge">{{search.results.length}}</span>
                <wave-spinner ng-show="search.loading.search"></wave-spinner>
            </div>
            <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                    <div class="input-group input-group-sm">
                        <input type="text" ng-keypress="search.search($event)" ng-model="search.searchTerm" class="form-control input-sm" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="search.search()">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                    <div class="scroll" ng-show="!search.loading.search && search.results">
                            <div multi-arrange-tree controller="search" config="searchTreeConfig"></div>
<!--                        <table class="table table-striped table-hover small">
                            <tr>
                                <th>Headline</th>
                                <th>Tags</th>
                                <th>State</th>
                                <th>Owner</th>
                                <th>Modified</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="strat in search.results">
                                <td>{{strat.StrategyHeadline}}</td>
                                <td><span ng-repeat="tag in strat.tags">{{tag.CategoryName}}<span ng-hide="$last">, </span></span></td>
                                <td>{{strat.State}}</td>
                                <td>{{strat.Owner}}</td>
                                <td>{{strat.ModifiedDate|sqlDateTime|date:'shortDate'}}</td>
                                <td>
                                    <a class="link" ng-click="search.view(strat)"><i class="glyphicon glyphicon-eye-open"></i></a><br>
                                    <a class="link" ng-click="search.edit(strat)"><i class="glyphicon glyphicon-pencil"></i></a>
                                </td>
                            </tr>
                        </table>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
